openapi: '3.0.0'
info:
  version: 1.0.0
  title: Linktree API
  license:
    name: MIT
servers:
  - url: https://api.linktree.com/v1
paths:
  /links:
    get:
      summary: List all user links
      operationId: listLinks
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of links
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Links'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new link
      operationId: createLink
      responses:
        201:
          description: Link created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /links/{linkId}:
    get:
      summary: Info for a specific link
      operationId: showLinkById
      parameters:
        - name: linkId
          in: path
          required: true
          description: The id of the link to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Links'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /analytics:
    get:
      summary: Retrieve analytics data for links
      operationId: getAnalytics
      parameters:
        - name: period
          in: query
          description: Time period for analytics (e.g., 7d, 30d)
          required: false
          schema:
            type: string
      responses:
        200:
          description: Analytics data including click counts and demographics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Link:
      required:
        - id
        - url
      properties:
        id:
          type: string
        url:
          type: string
        title:
          type: string
        clicks:
          type: integer
          format: int32
    Links:
      type: array
      items:
        $ref: '#/components/schemas/Link'
    Analytics:
      type: object
      properties:
        totalClicks:
          type: integer
        period:
          type: string
        topLinks:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string